ClientWebServiceSoap/Connected Services/ServiceSoap/WebServiceSoapImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws.hd.saifdine.ma/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WebServiceSoapImplService" targetNamespace="http://ws.hd.saifdine.ma/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ws/compte?xsd=1" namespace="http://ws.hd.saifdine.ma/" />
    </xsd:schema>
  </types>
  <message name="getComptes">
    <part name="parameters" element="tns:getComptes" />
  </message>
  <message name="getComptesResponse">
    <part name="parameters" element="tns:getComptesResponse" />
  </message>
  <message name="getCompte">
    <part name="parameters" element="tns:getCompte" />
  </message>
  <message name="getCompteResponse">
    <part name="parameters" element="tns:getCompteResponse" />
  </message>
  <message name="conversion">
    <part name="parameters" element="tns:conversion" />
  </message>
  <message name="conversionResponse">
    <part name="parameters" element="tns:conversionResponse" />
  </message>
  <portType name="WebServiceSoapImpl">
    <operation name="getComptes">
      <input wsam:Action="http://ws.hd.saifdine.ma/WebServiceSoapImpl/getComptesRequest" message="tns:getComptes" />
      <output wsam:Action="http://ws.hd.saifdine.ma/WebServiceSoapImpl/getComptesResponse" message="tns:getComptesResponse" />
    </operation>
    <operation name="getCompte">
      <input wsam:Action="http://ws.hd.saifdine.ma/WebServiceSoapImpl/getCompteRequest" message="tns:getCompte" />
      <output wsam:Action="http://ws.hd.saifdine.ma/WebServiceSoapImpl/getCompteResponse" message="tns:getCompteResponse" />
    </operation>
    <operation name="conversion">
      <input wsam:Action="http://ws.hd.saifdine.ma/WebServiceSoapImpl/conversionRequest" message="tns:conversion" />
      <output wsam:Action="http://ws.hd.saifdine.ma/WebServiceSoapImpl/conversionResponse" message="tns:conversionResponse" />
    </operation>
  </portType>
  <binding name="WebServiceSoapImplPortBinding" type="tns:WebServiceSoapImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getComptes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCompte">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="conversion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WebServiceSoapImplService">
    <port name="WebServiceSoapImplPort" binding="tns:WebServiceSoapImplPortBinding">
      <soap:address location="http://localhost:8080/ws/compte" />
    </port>
  </service>
</definitions>